<h1>ルーム作成</h1>

<%= form_for(@room) do |f| %>
  <div class="field">
	<p>STEP1:グループ名</p>
    <%= f.text_field :name %>
  </div>
<p>STEP2:話し合う内容</p>


<p>STEP3:メモ</p>
  <div class="actions">
    <%= f.submit("チャットルームを作成") %>
  </div>
<% end %>

<p>チャットラベルを使う3つのメリット </p>
<p>Botによる話し合いの進行</p>
<p>計画作成を助けるお助けツール</p>
<p>旅のしおりの作成</p>



