<div id="suggest_list_wrapper">
  <ul id="suggest_list">
    <% suggest_list.each do |suggest| %>
        <li>
          <div class="suggest_item">
            <h3 class="suggest_title"><%= suggest.title %></h3>
            <%= image_tag suggest.image, class: 'suggest_image', size: '180x150' %>
            <p class="suggest_description"><%= suggest.description %></p>
          </div>
        </li>
    <% end %>
  </ul>
</div>