<div id="suggest_list_wrapper">
  <div id="accordion" class="panel-group suggest_list">
    <% suggest_list.each do |suggest| %>
    <%= render 'suggest_item', suggest: suggest %>
    <% end %>
  </div>
</div>
<div id="vote_id" data-vote_id=""></div>
