// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    //background-image: url(rooms_show.PNG);
    background-position:center top;
    background-repeat:no-repeat;
    -moz-background-size:cover;
    background-size:cover;
}

.menubar {
  //position: fixed;
}

.dashboard {
  //position: fixed;
}

.chat {
  //position: fixed;
}
//
//div.message {
//position: relative;
//top: 500px;
//left: 500px;
//}

#chat_area {

}

ul #message_list {
  list-style: none;
}

#message_list {
  //position: static;
  height: 80%;
  width: 100%;
  overflow: scroll;
}


#message_textarea {
  display: inline-flex;
  width: 100%;
  bottom: 0;
  
}

#comment {
  width: 100%;
  resize: none;
}

#current_user {
  display: none;
}