// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 0;
}
ul#message_list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

#message_list {
  height: 90vh;
  width: 100%;
  overflow-y: auto;
}


#message_textarea {
  display: inline-flex;
  width: 100%;
}

#post_comment {
  width: 100%;
  resize: none;
}

#current_user {
  display: none;
}

#suggest_area {
  height: 70vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#suggest_list {
  list-style: none;
  padding: 0;
}
#suggest_textarea {
  margin-top: 10px;
  display: inline-flex;
  width:100%
}

#suggest_name {
  width: 100%;
  resize: none;
}

.suggest_item {
  margin-top: 10px;
  padding: 3px;
  border-style: solid;
  border-width: 0.5px;
}

.suggest_image {
  display: block;
  margin: 0 auto;
}

.suggest_id {
  display: none;
}

#start_vote {
  margin: 5px;
}