
<div class="jumbotron">
    <header>
        <div class= "container-fluid">
            <p>チャットしてたらスグ決まる旅行相談用グループチャット</p>
        </div>
        <div class= "container-fluid">
            <div class="row" >
                <%= link_to image_tag('small_logo.png'), class: "img-responsive center-block" %>
        </div>
        </div>
    </header>

</div>
