<!DOCTYPE html>
<html>
  <head>
	  <title>ChaTravel</title>
	  <%= csrf_meta_tags %>
	  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	  <div class="group">
		 <p>チャットしてたらスグ決まる旅行相談用グループチャット</p>
	  </div>
  </head>
  <body>
	  <%= yield %>
  </body>
</html>
